@import "tailwindcss" source(".");

@theme {
	--font-sans:
		"Gluten", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	background-color: #FCF9F0;
	color: #232016;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
		background-color: #1B1914;
		color: #F1EEE5;
	}
}
